@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here is a simple web page i create for Dataverse.</p>
    <p>There is a list of customers that you can add a new customer, edit or delete.</p>
</div>
